body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background-color: #f3f3f3;
}

.task-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 50px;
}

.column {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 20px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.column:hover {
  background-color: #e7e7e7;
}

.column h2 {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #d3d3d3;
  color: #444;
}

.taskList {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.taskList:hover {
  background-color: #f9f9f9;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list {
  cursor: pointer;
}

/* Adjustments for dragging */
.task.dragging {
  opacity: 0.7;
}

#todo {
  background: #ffcc80;
}

#inProgress {
  background: #90caf9;
}

#done {
  background: #c5e1a5;
}

/* Add more specific styles if needed */
